<h1>Show Transaction</h1>

<ul>

  <li>
    <strong>Hash:</strong>
    <%= @transaction.hash %>
  </li>

  <li>
    <strong>Block number:</strong>
    <%= @transaction.block_number %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @transaction.status %>
  </li>

  <li>
    <strong>Is complete:</strong>
    <%= @transaction.is_complete %>
  </li>

</ul>

<span><%= link "Back", to: Routes.transaction_path(@conn, :index) %></span>
